{# templates/home/products.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Les produits Wassa Boutique{% endblock%}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/products.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="wassa-div">
    <h3>Les produits Wassa Boutique</h3>
   
    <div style="text-decoration: #000 solid none; font-family:  cursive; font-style:  oblique; font-size: 16px;"> 
        <p>
            <strong>Wassa Boutique</strong> vous offre des produits &agrave; bas prix de tr&egrave;s bonne qualit&eacute; 
            pour votre maison et cela pour votre grand bonheur ! <br/>  
            Plus de 1 000 r&eacute;f&eacute;rences de produits de qualit&eacute; pour vous accompagner au quotidien tout en vous permettant 
            d’&eacute;quilibrer votre budget et d'&ecirc;tre serein au quotitien.
        </p>    
    </div>
    
    <div class="container">
        <div class="productCategoryDiv" style="padding: 0;">
            <p class= "productCategoryText" style="margin-bottom: 0;">
                Petit &eacute;lectrom&eacute;nager (Four & micro-onde, cafeti&egrave;re &eacute;lectrique, fer &agrave; repasser, …)
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="background-color: #F1EAF2; padding: 5px;">
                    <p style="margin-bottom: 0;">
                        Pour une maison bien &eacute;quip&eacute;e et un quotidien agr&eacute;able, nous vous proposons des appareils &eacutes;lectrom&eacute;nagers pratiques,
                        fonctionnels et de qualit&eacute;. 
                        Des marques comme TEFAL et Bosch pour les cafeti&egrave;res, Philips pour les centrales vapeurs ou encore Samsung et bien d’autres 
                        sont des produits dont les qualit&eacute;s sont reconnus dans le monde entier. <br/>
                        Wassa Boutique vous propose &eacute;galement des fer &agraves; r&eacute;passer &eacutes;lectrique ou non, des four &agrave; micro-ondes, fours... et bien d'autres.<br/> 
                        Venez chercher le petit &eacute;lectro-m&eacute;nager dont vous avez besoin et vous ne partirez pas les mains vides. <br/> 
                        En effet, pour de bon petits plats, rien de tel qu'une cuisine bien &eacute;quip&eacute;e.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="background-color: #686F8C;padding: 5px;">
                    <div class="col-md-6">
                        <img src="{{ asset('images/products/robot-moulinex-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('images/products/cafetiere-Krups-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                </div>
                <div class="row" style="background-color: #686F8C;padding: 5px;">

                    <div class="col-md-6">
                        <img src="{{ asset('images/products/interieur-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('images/products/interieur-2-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container">
        <div style="margin-top: 45px;" class="productCategoryDiv" >
            <p class="productCategoryText" style="margin-bottom: 0;">
                   Cuisine et Maison (drap, housse, d&eacute;coration maison : pot de fleur, montres)
            </p>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="row" style="height: auto; background-color: #686F8C; padding: 5px;">
                    <div class="col-md-6">
                        <img src="{{ asset('images/products/bare-moulage-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                    <div class="col-md-6" style="border: #000 solid 1px;">
                        <img src="{{ asset('images/products/assietes-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                </div>
                <div class="row" style="height: auto; background-color: #686F8C; padding: 5px;">
                    <div class="col-md-6" style="border: #000 solid 1px;">
                        <img src="{{ asset('images/products/thermos-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                    <div class="col-md-6" style="border: #000 solid 1px;">
                        <img src="{{ asset('images/products/thermos-2-wassa-boutique-thumb.jpg') }}" width="100%" height="100%"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="background-color: #F1EAF2; padding: 5px;position: relative;">
                <p style="margin-bottom: 0;">
                    Cuisine sale &agrave; manger (verre &agrave; boire, set de table, cuill&egrave;res, couteau, marmite, ouvre boite, service de table, cocotte minute…)
                    Votre cuisine n&eacute;cessite un mat&eacute;riel vari&eacute; pour r&eacute;pondre &agrave; toutes vos envies et surtout vos besoins. 
                    C’est pour cette raison que nous vous proposons des mat&eacute;riels de cuisine Wassa vous permettant de faire gagner du temps et donnent acc&egrave;s &agrave; diverses pratiques culinaires. 
                    Sachez  qu’une cuisine bien &eacute;quip&eacute;e vous permet de vous faire plaisir pendant vos pr&eacute;parations de plats et cela pour la joie de ceux qui vous entourent. Wassa boutique vous propose des mat&eacute;riaux de cuisson &eacute;labor&eacute;s et pratiques, des outils de cuisine, des rangements, du mobilier de cuisine et tout ce qui a trait aux arts de la table. Le mat&eacute;riel de cuisine est indispensable pour cuisiner agr&eacute;ablement et contribue &agrave; votre bien-être quotidien.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}