{% extends 'base.html.twig' %}

{% block title %}Modification Produit{% endblock %}

{# {% block body %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
    
{% endblock %} #}
{% block body %}
    <div style="width: 60%;margin: auto;">
		<h4 class="page-header">Modification produit</h4>

		{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.code) }}
		{{ form_row(form.category) }}
		{{ form_row(form.nbDozen) }}
		{{ form_row(form.nbTotal) }}

		{{ form_row(form.price) }}
		{{ form_row(form.dozenPrice) }}
		{{ form_row(form.publicPrice) }}
		{{ form_row(form.promosPrice) }}
		{# {{ form_row(form.onDiscount) }} #}
		{{ form_row(form.discountRate) }}

		{{ form_row(form.description) }}
		<!-- Gestion des images produit-->
		{#{ include ('product/_document.html.twig') }#}
		<div class="row">
            <div class="col-md-6">
				{{ form_row(form.document1) }}
			</div>
			<div class="col-md-4">
				{% if(product.picture1) %}
					<div class="manageImageDiv" data-download-url="{{ path('download_product_img') }}" data-delete-url="{{ path('delete_product_image') }}" data-picture-number="1" data-filename="{{ product.picture1 }}" data-id="{{ product.id }}">
						<i class="fas fa-file-image downloadFile wassa-link" title="Voir l'image"></i>
						&nbsp;&nbsp;
						<i class="fas fa-trash-alt deleteFile wassa-link" title="Supprimer l'image"></i>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.document2) }}
			</div>
			<div class="col-md-4">
				{% if(product.picture2) %}
					<div class="manageImageDiv" data-download-url="{{ path('download_product_img') }}" data-delete-url="{{ path('delete_product_image') }}" data-picture-number="2" data-filename="{{ product.picture2 }}" data-id="{{ product.id }}">
						<i class="fas fa-file-image downloadFile wassa-link" title="Voir l'image"></i>
						&nbsp;&nbsp;
						<i class="fas fa-trash-alt deleteFile wassa-link" title="Supprimer l'image"></i>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.document3) }}
			</div>
			<div class="col-md-4">
				{% if(product.picture3) %}
					<div class="manageImageDiv" data-download-url="{{ path('download_product_img') }}" data-delete-url="{{ path('delete_product_image') }}" data-picture-number="3" data-filename="{{ product.picture3 }}" data-id="{{ product.id }}">
						<i class="fas fa-file-image downloadFile wassa-link" title="Voir l'image"></i>
						&nbsp;&nbsp;
						<i class="fas fa-trash-alt deleteFile wassa-link" title="Supprimer l'image"></i>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.document4) }}
			</div>
			<div class="col-md-4">
				{% if(product.picture4) %}
					<div class="manageImageDiv" data-download-url="{{ path('download_product_img') }}" data-delete-url="{{ path('delete_product_image') }}" data-picture-number="4" data-filename="{{ product.picture4 }}" data-id="{{ product.id }}">
						<i class="fas fa-file-image downloadFile wassa-link" title="Voir l'image"></i>
						&nbsp;&nbsp;
						<i class="fas fa-trash-alt deleteFile wassa-link" title="Supprimer l'image"></i>
					</div>
				{% endif %}
			</div>
		</div>
		<!--Submit button -->
		<div class='row'>
			<div class='col-md-2'>
				{{ form_row(form.submit, {label_attr: {class: 'btn btn-success'} }) }}
			</div>
			<div class='col-md-2'>
				<a href="{{ path('app_product_index') }}" class="btn btn-secondary">Annuler</a>
			</div>
		</div>
		{{ form_end(form) }}

		{% if(product.picture1 or product.picture2 or product.picture3 
                or product.picture3 or product.picture4) %}
			<form method="post" id="manageImageForm">
				<input type="hidden" name="fileName">
				<input type="hidden" name="productId">
			</form>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/form.js') }}"></script>
{% endblock %}